<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Конфигурация для вывода логов в консоль -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <!-- Конфигурация уровней логирования для Hibernate и Logback -->

    <!--<logger name="org.hibernate.SQL" level="ERROR"/>-->
    <logger name="org.hibernate" level="ERROR"/> <!-- Отключение вывода SQL-запросов -->
    <logger name="ch.qos.logback" level="ERROR"/> <!-- Отключение логирования Logback -->

    <!-- Конфигурация корневого уровня логирования -->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>